*.o
main
*.dat
*.mat
*.gpt
*.txt
media_cut_out/input_data/*
!media_cut_out/input_data/.gitignore
media_cut_out/output_data/*
!media_cut_out/output_data/.gitignore
wlp-ununi/alumrock/data/*
!wlp-ununi/alumrock/data/.gitignore
wlp-ununi/biak/data/*
!wlp-ununi/biak/data/.gitignore
wlp-ununi/guam/data/*
!wlp-ununi/guam/data/.gitignore
wlp-ununi/izu/data/*
!wlp-ununi/izu/data/.gitignore
wlp-ununi/jammu_kashmir/data/*
!wlp-ununi/jammu_kashmir/data/.gitignore
wlp-ununi/kagoshima/data/*
!wlp-ununi/kagoshima/data/.gitignore
wlp-ununi/laquila/data/*
!wlp-ununi/laquila/data/.gitignore
wlp-ununi/spitak/data/*
!wlp-ununi/spitak/data/.gitignore
wlp-ununi/wenchuan/data/*
!wlp-ununi/wenchuan/data/.gitignore
calc_alpha/input_data/*
!calc_alpha/input_data/.gitignore
calc_alpha/output_data/*
!calc_alpha/output_data/.gitignore
