*.o
main
*.dat
*.mat
*.gpt
*.txt
media_cut_out/input_data/*
media_cut_out/output_data/*
wlp-ununi/alumrock/data/*
wlp-ununi/biak/data/*
wlp-ununi/guam/data/*
wlp-ununi/izu/data/*
wlp-ununi/jammu_kashmir/data/*
wlp-ununi/kagoshima/data/*
wlp-ununi/laquila/data/*
wlp-ununi/spitak/data/*
wlp-ununi/wenchuan/data/*
calc_alpha/input_data/*
calc_alpha/output_data/*
